body {
    font-family: sans-serif;
}
header {
    background-color: #800000;
    color: #EEEDEB;
}
h1 {
    font-size: 200%;
    margin-bottom: 0px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

h3 {
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    /* background-color: #800000; */
    color: #800000; 
    text-decoration: underline;  
}

nav {
    background-color: #800000;
    padding: 10px;
    
    
}


.nav-item{
    color: #ddd;
}

a {
    color: dimgrey;
    font-weight: bold;
}

q {
    font-size: 120%;
    font-style: italic;
}

footer {
    background-color: #800000;
    color: white;
    padding: 1px;
    text-align: center;
}

.navbar a:hover {
color: black;
}

.navbar a{
    color: whitesmoke;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.active {
    color: slategray!important;
    font-weight: bolder!important;
    text-decoration: underline;
    
  }



.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
    margin:10px
}




.MyText{
    /*---The margin depends on how the image size is ---*/
    display:inline-block; 
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #800000;
    font-weight: bolder;
  }

  button{
      
      background-color: #800000;
      color: #ddd;
      margin-bottom: 10px;   
  }

  .ad{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    margin:20px;
    
}

.ad:hover{
    background-color: gray;
}


.btn{
    
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    
    
}

.btn:hover{
    background-color: #800000;
    color:whitesmoke;
}

.btn1{
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    background-color: GRAY;
    color: black;
    width: 100px;

    
}

.btn1:hover{
    background-color: black;
    color: whitesmoke;
}

/* 
.form {
    text-align: center;
    display: flex;
    flex-direction: row; */
    
    /* width: 50%; */
    /* gap: 1em;
    background-color: #800000;
    color: #ddd;
    justify-content: center; */
    /* margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px; */
    
    
  /* } */
  

  .navbar-toggler-icon {
    width: 47px;
    height: 34px;
    color: white;
    border:none;
}

.sss {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    
    background-color: #800000;
    color: #ddd;
    margin: auto;
    
    border-radius: 20px;
    text-align: center;
  }

  .student {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid #800000;
    background-color: #ddd;
}

.userName {
    font-weight: bold;
}

.studentName {
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }